.red{
    background:red;
    width:60px;
    height: 60px;
}
#red{
    color:red;
}
.green{
    background:green;
    width:60px;
    height: 60px;
}
#green{
    color:green;
    border:green;
}
.blue{
    background:blue;
    width:60px;
    height: 60px;
}
.gray{
    background:gray;
    width:60px;
    height: 60px;
}
.content{
    border:red solid;
}
.panel .panel-body div{
    margin: 10px;
    display: inline-block;
}
#isActive{
    border:10px solid;
}
.container{
    margin-top:30px;
}
#menuSort{
    text-align: center;
    border: solid black;
    color:black;
    font-weight: 700;
}
#menuSort li:hover{
    background: white;
}
